@media (prefers-color-scheme: dark) {
  :root {
    /* theme */
    --theme-color: #000;
    --theme-color-not: #fff;

    /* main */
    --main-bg-color: #111975;
    --main-bd-color: #313ba3;

    /* bg */
    --bg-dark-color: #333;
    --bg-default-color: #555;

    /* hr */
    --hr-default-color: #ccc;

    /* txt */
    --txt-df-color: #ddd;
    --txt-red-color: #cc3d3d;
    --txt-bg-red-color: #952525;
  }

  /* Button */
  :root {
    --btn-bg-color: #444;
    /* focus-visible */
    --btn-focus-boxsh1-color: #7c84d7;
    --btn-focus-boxsh2-color: #fff;
  }

  /* Input */
  :root {
    --input-bg-color: #444;
    --input-bg-hover-color: #666;
    --input-bg-focus-color: #333;
    --input-bd-focus-color: #7c84d7;
    /* checkbox */
    --input-checkbox-checked-bg-color: #252b75;
    --input-checkbox-line-bg-color: #fff;
  }

  /* Colors */
  :root {
    /* red */
    --red-bd-color: #a84242;
  }
}
