@import url('./padding.css');
@import url('./border.css');

.con {
  border-radius: var(--bd-ra-big);
}

.con_bg_df,
.con_bg_dr {
  padding: var(--pd);
  border-radius: var(--bd-ra-big);
}

.con_bg_df {
  background-color: var(--bg-default-color);
}

.con_bg_dr {
  background-color: var(--bg-dark-color);
}
