.d_f_ce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_f_jc_sb {
  display: flex;
  justify-content: space-between;
}

.d_f_jc_end {
  display: flex;
  justify-content: flex-end;
}

.d_f_jc_start {
  display: flex;
  justify-content: flex-start;
}

.d_f_ai_ce {
  display: flex;
  align-items: center;
}

.d_n {
  display: none;
}
