.pd {
  padding: var(--pd) !important;
}

.pd_tb_small {
  padding: var(--pd-small) 0 !important;
}

.pd_small_very {
  padding: var(--pd-small-very) !important;
}

.pd_small {
  padding: var(--pd-small) !important;
}

:root {
  --pd: 12px;
  --pd-small: 6px;
  --pd-small-very: 3px;
  --pd-big: 18px;
}
