@import url('../../css/utils/padding.css');
@import url('../../css/utils/border.css');
@import url('../../css/utils/animation/transition.css');

button {
  background-color: var(--btn-bg-color);
  border-radius: var(--bd-ra);
  padding: var(--pd-small) var(--pd);
  cursor: pointer;
  transition: scale 0.3s var(--spring-trns);

  &:active {
    scale: 0.95;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--btn-focus-boxsh2-color) inset,
      0 0 0 3px var(--btn-focus-boxsh1-color) inset;
  }
}

button.clr_btn {
  background-color: var(--main-bg-color);
}
