@import url('../../css/utils/fz.css');
@import url('../../css/utils/txt.css');
@import url('../../css/utils/line.css');
@import url('../../css/utils/display.css');
@import url('../../css/utils/padding.css');
@import url('../../css/utils/toast.css');

.profile_info_con {
  width: min(300px, 95%);
  margin: 0 auto;
  position: relative;
}

.profile_info_subtitle {
  font-size: 0.9em;
  opacity: 0.9;
}

.profile_menu_icon {
  position: absolute;
  top: 0;
  right: 0;
}
