@import url('../../css/utils/cons.css');
@import url('../../css/utils/display.css');
@import url('../../css/utils/list.css');
@import url('../../css/utils/size.css');
@import url('../../css/utils/txt.css');
@import url('../../css/utils/line.css');
@import url('../../css/utils/bg.css');
@import url('../../css/utils/animation/animation.css');
@import url('../../css/utils/animation/transition.css');

.signup_login_con {
  width: min(95%, var(--signup-login-con-width));
  border-radius: 30px;
}

.signup_login_logo {
  width: var(--signup-login-logo);
  aspect-ratio: 1;
  border-radius: 50px;
  filter: drop-shadow(0 0 200px #021131) drop-shadow(0 0 100px #014f84);
  scale: 0.3;
  animation: scaleTo1 1s var(--spring-trns) forwards;
}

.signup_login_con .input_area {
  width: min(100%, var(--signup-login-input-width));
}

.signup_login_con input {
  padding: var(--pd);
}

.signup_login_con .title {
  font-size: 1.5em;
}

:root {
  --signup-login-logo: 200px;
  --signup-login-con-width: 700px;
  --signup-login-input-width: 300px;
}
