@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('../../css/utils/cons.css');
@import url('../../css/utils/display.css');
@import url('../../css/utils/list.css');
@import url('../../css/utils/size.css');
@import url('../../css/utils/txt.css');
@import url('../../css/utils/line.css');
@import url('../../css/utils/bg.css');
@import url('../../css/utils/toast.css');
@import url('../../css/utils/padding.css');
@import url('../../css/utils/border.css');
@import url('../../css/utils/opacity.css');
@import url('../../css/utils/cursor.css');
@import url('../../css/utils/animation/animation.css');
@import url('../../css/utils/animation/transition.css');

.signup_login_con {
  width: min(95%, var(--signup-login-con-width));
  border-radius: 30px;
}

.signup_login_logo {
  width: var(--signup-login-logo);
  height: var(--signup-login-logo);
  border-radius: var(--signup-login-logo-bd-ra);
  filter: var(--signup-login-logo-drop-shadow);
  scale: 0.3;
  animation: scaleTo1 1s var(--spring-trns) forwards;
}

.signup_login_con form {
  opacity: 0;
  scale: 0.9;
  animation: opaTo1 0.3s 0.2s var(--spring-trns) forwards,
    scaleTo1 0.8s 0.2s var(--spring-trns) forwards;
}

.signup_login_con .input_area {
  width: min(100%, var(--signup-login-input-width));
}

.signup_login_con[phone='true'] .input_area {
  width: 100%;
}

.signup_login_con input {
  padding: var(--pd);
}

.signup_login_con .title {
  font-size: 1.5em;
}

.signup_login_error_txt {
  scale: 0.5;
  opacity: 0;
  animation: scaleTo1 0.3s var(--spring-trns) forwards,
    opaTo1 0.3s var(--spring-trns) forwards;
}

.signup_login_con[phone='true'] {
  --signup-login-logo: 50px;
  --signup-login-logo-bd-ra: 15px;
  --signup-login-logo-drop-shadow: drop-shadow(0 0 20px #021131)
    drop-shadow(0 0 80px #014f84) drop-shadow(0 0 100px #1881c3);
}

.signup_login_final_info_con {
  width: 100%;
  padding: var(--pd-small);
  border-radius: var(--bd-ra);
  background-color: var(--bg-dark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup_login_final_info_input {
  padding: 0 !important;
  text-align: center;
  background-color: transparent;
  pointer-events: none;
}

:root {
  --signup-login-logo: 200px;
  --signup-login-logo-bd-ra: 50px;
  --signup-login-logo-drop-shadow: drop-shadow(0 0 200px #021131)
    drop-shadow(0 0 100px #014f84);
  --signup-login-con-width: 700px;
  --signup-login-input-width: 300px;
}
