@import url('./utils/color.css');
@import url('./utils/fz.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  border: 0;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  user-select: none;
}

.animation *,
.animation *::before,
.animation *::after {
  transition: all 0.3s ease;
}

html,
body,
#root {
  background-color: var(--bg-dark-color);
  height: 100%;
  font-size: var(--font-size);
  color: var(--txt-df-color);
}

.full_page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

*[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
