@import url('../../css/utils/list.css');
@import url('../../css/utils/display.css');
@import url('../../css/utils/animation/animation.css');
@import url('../../css/utils/animation/transition.css');

.home_con {
  width: min(90%, var(--home-con-size));
}

.home_page_logo {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50px;
  filter: drop-shadow(0 0 200px #021131) drop-shadow(0 0 100px #014f84);
  scale: 0.3;
  animation: scaleTo1 1s var(--spring-trns) forwards;
}

.home_page_btn {
  isolation: isolate;
  width: 0;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  animation: widthTo100 1s ease forwards;
}

.home_page_btn span {
  font-size: 1.3em;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  animation: opaTo1 1s 0.5s var(--spring-trns) forwards;
}

:root {
  --home-con-size: 300px;
}
